#Acquire::http::Proxy "{{ ubuntukurento }}";
Acquire::HTTP::Proxy::{{ nodesource }} \"DIRECT\";
Acquire::HTTP::Proxy::{{ dockerproject }} \"DIRECT\";
Acquire::HTTP::Proxy::{{ novacloud }} \"DIRECT\";

